{% extends 'base.html'  %}

{%block content%}
<div class="intro">
    <h5 >Investing</h5>
    <p> 
      Advancements in current technology have significantly streamlined the process of investing in company stocks, presenting an unprecedented level of ease and accessibility. 
      With a mere few taps on your mobile device, you can swiftly purchase or sell stocks and index funds within seconds. 
      While traditional investing demands extensive research and analysis into individual companies, there exist more straightforward alternatives beyond the complexities of single stock picking.
    </p>
<br>
<h5 >What are Index Funds?</h5>
<p>An index fund is a type of mutual fund or exchange-traded fund (ETF) with a portfolio constructed to match or track the components of a financial market index, such as the Standard & Poor’s 500 Index (S&P 500). 
  An index mutual fund provides <mark>broad market exposure, low operating expenses, and low portfolio turnover.</mark> </p>
  <p>Indexing a great way to invest your money because it brings you exposure to many companies in different sectors. 
    You do not have to spend time picking and choosing which company will perform better, and deciding when is a good time to sell or when is a good time to keep holding.</p>
<p>These funds follow their benchmark index regardless of the state of the markets.
“Indexing” is a form of passive fund management. Instead of a fund portfolio manager actively stock picking and market timing—that is, 
choosing securities to invest in and strategizing when to buy and sell them—the fund manager builds a portfolio whose holdings mirror the securities of a particular index. The idea is that by mimicking the index profile—the stock market as a whole or a broad segment of it—the fund will also match its performance.
(Jason Fernando via Investopedia, Dec 07/2023).</p>
<p>The returns of Index Funds can vary depending on the year, but usually investors are holding them long-term. 
      You can check out the <mark>yearly performance</mark> in order to have an idea of how well the Index Fund performs. </p>


      <br>
      <iframe title="S&amp;amp;P 500 Historical Annual Returns" aria-label="Interactive area chart" id="datawrapper-chart-UZZDG" src="https://datawrapper.dwcdn.net/UZZDG/14/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="501" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
<br><br><br><br>
<h5>What are ETFs?</h5>
<p>An ETF is called an exchange-traded fund because it is traded on an exchange just like stocks are.</p>
<ul class="list-group">
<li class="list-group-item list-group-item-light">An exchange-traded fund (ETF) is a basket of securities that trades on an exchange just like a stock does.</li>
<li class="list-group-item list-group-item-light">ETF share prices fluctuate all day as the ETF is bought and sold; this is different from mutual funds, which only trade once a day after the market closes.</li>
<li class="list-group-item list-group-item-light">ETFs can contain all types of investments, including stocks, commodities, or bonds; some offer U.S.-only holdings, while others are international.</li>
<li class="list-group-item list-group-item-light">ETFs offer low expense ratios and fewer broker commissions than buying the stocks individually.</li>
</ul>
<small>(James Chen via Investopedia, October 14/2023)</small>
<br><br>
<!-- <a href="/IndexFunds/ETFs" class="btn btn-outline-info">Check out a list of ETFs worldwide.</a> -->
<br><br><br><br>
<h5>What are Mutual Funds?</h5>
<p>An ETF is called an exchange-traded fund because it is traded on an exchange just like stocks are.</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-light">A mutual fund is a type of investment vehicle consisting of a portfolio of stocks, bonds, or other securities.</li>
  <li class="list-group-item list-group-item-light">Mutual funds give small or individual investors access to diversified, professionally managed portfolios.</li>
  <li class="list-group-item list-group-item-light">Mutual funds are divided into several kinds of categories, representing the kinds of securities they invest in, their investment objectives, and the type of returns they seek.</li>
  <li class="list-group-item list-group-item-light">Mutual funds charge annual fees, expense ratios, or commissions, which may affect their overall returns.</li>
  <li class="list-group-item list-group-item-light">Employer-sponsored retirement plans commonly invest in mutual funds.</li>
</ul>
<small>(Adam Hayes via Investopedia, December 11/2023)</small>
<br><br>
<a href="/IndexFunds/MutualFunds" class="btn btn-outline-info">Check out Mutual Funds</a>
<br><br>
</div>

{% endblock %}
