{% extends 'base.html'  %}

{%block content%}

<a href="/IndexFunds">Go back</a>

<br><br>
<h4>Performance rating {{performance}}</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Name</th>
            <th scope="col"> Ticker</th>
            <th scope="col"> Fund type </th>
            <th scope="col"> Performance Rating </th>
            <th scope="col"> Risk Rating </th>
        </tr>
    </thead>
    <tbody>
            {%for each in list%}
            <tr>
                <th scope="row">{{each.name}}</th>
                <td>{{each.ticker}}</td>
                <td>{{each.fund_type}}</td>
                <td>{{each.performance_rating}}</td>
                <td>{{each.risk_rating}}</td>
            </tr>
            {% endfor%} 
    </tbody>

</table>

{% endblock %}