{% extends 'base.html'  %}

{%block content%}

<div class="form-row">
    <div class="form-group col-md-6">
        <h5>Check out possible Mutual Funds to consider investing long-term:</h5>
        <form method="POST">
          {{ form.csrf_token }}
            {% for field in form
                if field.widget.input_type != 'hidden' %}
              <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
            
                {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
              </p>
              {% endfor %}
              <input type="submit" class="btn btn-success"  value="Search">
        </form>
    </div>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col"> Name</th>
            <th scope="col"> Ticker</th>
            <th scope="col"> Fund type </th>
            <th scope="col"> Performance Rating </th>
            <th scope="col"> Risk Rating </th>
        </tr>
    </thead>
    <tbody>
            {%for each in list_query%}
            <tr>
                <th scope="row">{{each.name}}</th>
                <td>{{each.ticker}}</td>
                <td>{{each.fund_type}}</td>
                <td>{{each.performance_rating}}</td>
                <td>{{each.risk_rating}}</td>
            </tr>
            {% endfor%} 
    </tbody>

{%endblock %}
