*{
    font-family: 'Quicksand', sans-serif;
}
.hero {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    align-self: center;
}
.intro{
    
  font-weight: bold;
}

.middle-text{
    padding-left: 0%;
    color: white;
    -webkit-text-stroke: 1px green;
    align-self:center;
    margin-top: -300px;;
}

.general-info{
    padding-top: 3%;
    display:flex; 
    flex-direction: column;
    align-self:center;
}
.wallet_savings{
    width: 80%;
    height: 80%;
}


