*{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    height: 100%;
}
.hero {
    background-image:url('https://media.istockphoto.com/id/474833050/vector/gradient-background.jpg?s=612x612&w=0&k=20&c=oPzj_ZFiZqh5ZhG5p4bxIyVnaMwzEDcETejW-jSp5ug=');
    background-size: cover;
    width: 120%;
    height: 100vh;
    /* background-position: center; */
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}
.hero1{
    background-image:url('https://cdn.pixabay.com/photo/2022/11/30/01/21/background-7625676_1280.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position:relative;
    right:-10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#welcome{
    width: 20%;
    height:20%;
    border-radius: 25px;
    position:relative;
    top:15px;
    left:8%;
}
#cur_amt{
    position:relative;
    top: -150px;
    left:46%;
}
#spent_amt{
    position:relative;
    top:-140px;
    left:715px;
}
#myChart{
    width: 300px;
    position:relative;
    top:-80px;
    left:7%;
}
#num_budgets{
    position:relative;
    top:-300px;
    left:100px;
}
#not_spent{
    width:400px;
    position:relative;
    top:-100px;
    right:-45%;
    margin:0;
}
#num_budgets1{
    position:relative;
    width:25%;
    top:-900px;
    left:700px;
}
.container{
    margin:0;
}
h3{
    align-self: center;
}
.intro{
  font-weight: bold;
}

.middle-text{
    padding-left: 0%;
    color: white;
    -webkit-text-stroke: 1px green;
    align-self:center;
    margin-top: -300px;;
}

.general-info{
    padding-top: 0%;
    display:flex; 
    flex-direction: column;
    align-self:center;
}
.wallet_savings{
    width: 80%;
    height: 80%;
}

p, h4, .list-group, small, .btn-outline-info{
    align-self: center;
    padding-top: 5px;;
    padding-left:20px ;
    padding-right: 20px;
}
