{% extends 'base.html'  %}

{%block content%}
<br><br>
<h3>Hi {{g.user.username}},</h3>
<div class="wallet">
   <img class="img-fluid rounded-circle mb-2"
   style="width: 200px; height: 200px" src="https://media3.giphy.com/media/Pxj2KTQfem75GWBxjo/giphy.gif?cid=ecf05e47ne2xabl0y0xp13rc1gnb8rjcqoiyesiu2a1aqgm7&ep=v1_gifs_search&rid=giphy.gif&ct=g">
    {%for each in wallet %}
    <h4> Your wallet has $ {{each.amt}}</h4>
    {%endfor%}
    <br><br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <h4>Edit your wallet here</h4>
            <p>Add money into your wallet.</p>
            <form method="POST">
              {{ form.csrf_token }}
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
                  <p>
                    {{ field.label }}
                    {{ field(class_="form-control") }}
                
                    {% for error in field.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                    {% endfor %}
                  </p>
                  {% endfor %}
                  <input type="submit" class="btn btn-success"  value="Save chages">
            </form>
        </div>
</div>

{% endblock %}