{% extends 'base.html'  %}

{%block content%}
<br><br>
<h3>Hi {{g.user.username}},</h3>
<div class="wallet">
    {%for each in wallet %}
    <h4> Your wallet has $ {{each.amt}}</h4>
    {%endfor%}
    <br><br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <h4>Edit your wallet here</h4>
            <p>Add money into your wallet (e.g. weekly payments from work, cheques received, interested obtain..)</p>
            <form method="POST">
              {{ form.csrf_token }}
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
                  <p>
                    {{ field.label }}
                    {{ field(class_="form-control") }}
                
                    {% for error in field.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                    {% endfor %}
                  </p>
                  {% endfor %}
                  <input type="submit" class="btn btn-success"  value="Save chages">
            </form>
        </div>
</div>

{% endblock %}